<html>
    <head>
        <link rel="stylesheet" href="/Ace_Tennis_Center/assets/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script> 
    </head>
    <body>
        <div class="footer" id="footer">
            <img class="icon-img" src="/Ace_Tennis_Center/assets/images/email.png" alt="Email" style="padding-left: 20px;">
            <p style="padding-right: 15px;">AceTennis@gmail.com</p>
            <img class="icon-img" src="/Ace_Tennis_Center/assets/images/phone.png" alt="Phone">
            <p>+1 555-555-5555</p>
    
            <p class="right-div" style="padding-right: 20px;">
                123 Lester Road, Ottawa, ON, Canada
            </p>
        </div>
    </body>
</html>