<html>
    <head>

        <link rel="stylesheet" href="../assets/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script> 

    </head>
    <body>

    <div class="navbar" id="navbar">
        <a class="row-box" href="/Ace_Tennis_Center/index.html" style="color: white;">
            <img id="logo" src="/Ace_Tennis_Center/assets/images/logo.png" alt="Racket Logo">
            <p style="font-weight: 700 !important;"><b>ACE TENNIS CENTER</b></p>
        </a>

        <div class="button-div" id="nav-buttons">
                <a href = "/Ace_Tennis_Center/index.html">
                    <button class="navy-button button-underline" style="height: 100%;" id="home-nav" onclick="underline('home-nav')">Home</button>
                </a>
                <a href = "/Ace_Tennis_Center/pages/court-booking.html">
                    <button class="navy-button button-underline" style="height: 100%;" id="court-nav" onclick="underline('court-nav')">Court<br>Booking</button>
                </a>
                <a href = "/Ace_Tennis_Center/pages/lessons.html">
                    <button class="navy-button button-underline" style="height: 100%;" id="lessons-nav" onclick="underline('lessons-nav')">Lessons</button>
                </a>
                <a href = "/Ace_Tennis_Center/pages/location.html">
                    <button class="navy-button button-underline" style="height: 100%;" id="location-nav" onclick="underline('location-nav')">Location &<br>Hours</button>
                </a>
                <a href = "/Ace_Tennis_Center/pages/coaches.html">
                    <button class="navy-button button-underline" style="height: 100%;" id="coaches-nav" onclick="underline('coaches-nav')">Meet Our<br>Coaches</button>
                </a>
                <a href = "/Ace_Tennis_Center/pages/contact.html">
                    <button class="navy-button button-underline" style="height: 100%;" id="contact-nav" onclick="underline('contact-nav')">Contact</button>
                </a>
        </div>
    </div>

    <script>
        function underline(buttonName) {
            sessionStorage.setItem("navButton", buttonName);
        }
    </script>

    </body>
</html>